/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

} */


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    

}

div#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
   
    background-color: rgb(46, 45, 45);
    color: rgb(252, 252, 207);
    box-shadow: 2px 2px 10px 6px black;

}

@media screen and (max-width: 499px){
    div#root {
        max-width: 300px;
    }
    img {
        width: 290px;
        height: auto;
        
    }
    h1 {
        text-align: center;
    }
}

#dateSelectInput {
    width: 250px;
    color: rgb(252, 252, 207);
    background-color: grey;
   /*  margin-top: 25px; */
   margin: 5px;
    
    
}

h1 {
    margin-left: 30px;
    margin-right: 30px; 
}

h3 {
    margin: 30px;
    max-width: 500px;
    display: flex;
}

img {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
}